<log4net>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<file value="./logs/aravindMiddleware.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="50" />
		<maximumFileSize value="5MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level : %logger - %.4000message%newline" />
		</layout>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="RollingFile" />
	</root>
</log4net>

